.game{
    display: block;
    position: relative;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: white;
    border-radius: 30px;
    padding: 20px
    
  }

  .players_panel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30%;
}